:root{
    --font-primary: "DM Serif Display", serif;
    --font-secondary: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    background-color: white;
    position: sticky;
    top: 0;
}

.navbar-nav{
    list-style: none;
    display: flex;
    gap: 75px;
}

.nav-item{
    height: 50%;
    /* background: #000; */
    display: flex;
    align-items: center;
}
.active{
    border-bottom: 1px solid black;
}
.active .nav-link{
    color: black;
}
.nav-link{
    color: gray;
    text-decoration: none;
}

#hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero > div{
    text-align: center;
    width: 70%;
}
#hero > div > h1{
    font-size: 4.5em;
    font-family: var(--font-primary);
    font-weight: bold;
}

#hero > div > button, .btn{
    padding: 16px 32px 16px 32px;
    border: 0;
    margin-top: 64px;
    background-color: #111120;
    color: white;
    transition: 0.2s;
}
#hero > div > button:hover{
    background-color: #777777;
}

.container{
    margin: 0 auto;
    width: 90vw;
}

.mb{
    margin-bottom: 50px;
}

.container-fluid{
    /* width: 100vw; */
}

.mid{
    display: flex;
    align-items: center;
    height: 90vh;
    /* background-color: #F1B884; */
    background-color: #F6CDB0;
}

.container-gd{
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    
    

}

.grid-container{
    padding: 100px 200px;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 50px;
    /* padding: 50px 200px; */
    
    
}


.grid-container h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
 
}

.grid-container p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px; 
    color: grey;
    
    
}





.container-mba{
padding: 50px 50px;


}

.container-fluid{
    /* width: 100vw; */
}

.mids{
    display: flex;
    align-items: center;
    height: 90vh;
    /* background-color: #F1B884; */
    background-color: #F4E19D;
}


.member{
    display: flex;
    height: 300px;
    align-items: center;
}

.member .img{
    /* height: 300px; */
    width: 33%;
    /* border: 5px solid #035397; */
    margin-left: 80px;
}

.member .img img{
    height: 100%;
    width: 100%;
}

.member .content{
       width: 66%;
       padding: 0px 200px;
       letter-spacing: 1px;
       font-size: 22px;
}

.member .content h3{
    font-weight: bold;
    text-decoration: dotted;
    color: #035397;
    padding-top: 20px;
    text-transform: capitalize;

}




.last{
    padding: 80px 100px;
    margin: 30px;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color:#FFC38C;
    font-weight: bold;
}

 .btn{
    padding: 16px 32px 16px 32px;
    border: 0;
    margin-top: 64px;
    background-color: #111120;
    color: white;
    transition: 0.2s;
}
 .btn:hover{
    background-color: #777777;
}

.footer{
    display: flex;
    height: 100px;
    padding: 100px;
    background-color: white;
    margin: 50px;
    justify-content: space-between;
}

.footer div{
    width: 33%;
    text-align: center;
    color: gray;
    
}

.footer h3{
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 20px;
    color: black;
    text-transform: capitalize;


}
/* .footer p{
    padding-right: 10px;
} */
.footer .text{
    text-align: left;
    padding-left: 100px;
}

.footer .contact{
    text-align: left;
    width: 10%;
    padding-right: 160px;
}

.footer  div p{
    font-size: 15px;
}


 